@import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,700,800);

@font-face {
  font-family: "Inter";
  src: url("../../fonts/InterBold.woff2") format("woff2"),
    url("../../fonts/InterBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
