$font-family: "Manrope", sans-serif;
$second-family: "Inter", sans-serif;

$light-color: #fafafa;
$dark-color: #171718;
$bg-color: #4c4e51;
$bg-accent: #1e2931;
$accent-color:  #252cec;
$tenn: #da5700;
$wihte: #fff;
$black: #000;

$box-shadow-light: 0 3px 15px 0 rgba(0, 0, 0, 0.7);
$box-shadow-dark: 0 3px 15px 0 rgba(255, 255, 255, 0.7);

$gradient-bg: linear-gradient(
  360deg,
  rgba(51, 51, 51, 0.9) 0%,
  rgba(51, 51, 51, 0.7) 100%
);

