.faq {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px 30px;

    @include tablet {
      flex-direction: column;
    }

    @include mobile {
      row-gap: 20px;
    }
  }

  &__title {
    width: 470px;
    flex-shrink: 0;

    @include tablet {
      width: auto;
    }
  }

  &__topics {
    width: 670px;
    flex-shrink: 0;

    @include tablet {
      width: auto;
    }
  }
}