.social {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;

	&__link {
		border-radius: 50%;
		border: 1px solid transparent;
		background-color: #4c4e51;
		transition: transform 0.2s ease-in, background-color 0.2s ease-in, border 0.2s ease-in,
			box-shadow 0.2s ease-in;

		&--github {
			display: flex;
			width: 38px;
			height: 38px;
			align-items: center;
			justify-content: center;
			background-color: #4c4e51;

			img {
				width: 20px;
				height: 20px;
				border-radius: 50%;
			}
		}

		&:hover {
			transform: scale(1.05);
			border: 1px solid $light-color;
			box-shadow: $box-shadow-dark;
			background-color: #4c4e51;
		}
	}

	&__img {
		width: 35px;
		height: 35px;
		border-radius: 50%;
	}
}